@{
    ViewBag.Title = "try";
}

<h2>try</h2>

<table class="table">
    <tr>
        <td>
            Nombre
        </td>
        <td>
            Puntaje
        </td>
        <td>
            Partidos
        </td>
    </tr>
</table>
